.content{
    position: absolute;
    left: 250px;
    width: 1000px;
}
h2{
    position: fixed;
    bottom: 670px;
    z-index: 9999;
}
h5{
    position: relative;
    bottom: 540px;
    left: 50px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    z-index: 9999;
}
h4{
    position: absolute;
    top: 140px;
}
h6{
    font-size: 30px;
}